extends test-layout

block test-content
	h1 user
	ul
		li
			a(href='user/create') create
		li
			a(href='user/update') update
		li
			a(href='user/retrive') retrive
		li
			a(href='user/delete') delete