extends test-layout

block test-content
	h1 User
		span(style='font-size: .75em;')
			| &nbsp;(&nbsp;
			a(href='create') C
			| &nbsp;|&nbsp;
			a(href='retrive') R
			| &nbsp;|&nbsp;
			a(href='update') U
			| &nbsp;|&nbsp;
			a(href='delete') D
			| &nbsp;)
			
	.panel.panel-primary
		.panel-heading
			.panel-title delete
		.panel-body
			form(action='delete',method='post')
				form
					.form-group
						label _id
						input.form-control(type='text',name='_id')
					button.btn.btn-default(type='submit') delete

	.panel.panel-default
		.panel-heading
			.panel-title output
		.panel-body
			p= count