extends test-layout

block test-content
	h1 User
		span(style='font-size: .75em;')
			| &nbsp;(&nbsp;
			a(href='user/create') C
			| &nbsp;|&nbsp;
			a(href='user/update') R
			| &nbsp;|&nbsp;
			a(href='user/retrive') U
			| &nbsp;|&nbsp;
			a(href='user/delete') D
			| &nbsp;)